
<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/header.ejs') %>
   <main>
        <% if(errorMessage){  %>
            <div><%= errorMessage %></div>
        <% } %>
        <form action="/new-password" method="POST">
            <div class="form-control">
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Password...">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="userId" value="<%= userId %>">
            <button class="btn" type="submit">Update Password</button>
        </form>
   </main>
</body>

</html>
