<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/header.ejs') %>
            <main class="add-product product-from">
                <form action="/admin/<% if(editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
                    <div class="form-control">
                        <label for="title">Product Name</label>
                        <input id="title" type="text" name="title" placeholder="product name..."
                            value="<% if(editing) { %> <%= product.title %> <% } %>">
                    </div>
                    <div class="form-control">
                        <label for="imageUrl">Image</label>
                        <input type="text" id="imageUrl" name="imageUrl" placeholder="select image..."
                            value="<% if(editing) { %> <%= product.imageUrl %> <% } %>">
                    </div>
                    <div class="form-control">
                        <label for="price">Price</label>
                            <input type="number" id="price" name="price" placeholder="price..." <% if(editing) { %> value="<%= product.price %>" <% } %>>

                    </div>
                    <div class="form-control">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" name="description" placeholder="description..." rows="5">
                            <% if(editing) { %>
                              <%= product.description %>
                            <% } %>
                          </textarea>
                          
                    </div>
                    <button type="submit">
                        <% if (editing) { %>
                            Update product
                            <% } else { %>
                                Add product
                                <% } %>
                    </button>

                </form>
            </main>
    </body>

    </html>