<header>
    <nav>
        <ul>
            <li>
                <a class="<%= path==='/' %>" href="/">Shop</a>
            </li>
            <li>
                <a href="/products" class="<%= path==="/product"?'active':""
                    %>">Products</a>
            </li>
            <li>
                <a href="/card" class="<%= path==="/card"?'active':""
                    %>">Card</a>
            </li>
            <li>
                <a href="/orders" class="<%= path==="/orders"?'active':""
                    %>">Orders</a>
            </li>
            <li>
                <a class="<%= path==="/admin/add-product"?'active':""
                    %>" href="/admin/add-product">Add Product</a>
            </li>
            <li>
                <a class="<%= path==="/admin/products"?'active':""
                    %>" href="/admin/products">Admin Product</a>
            </li>
        </ul>
    </nav>
</header>