
<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/header.ejs') %>
    <% if (prods.length > 0) { %>
    <ul>
        <% prods.forEach(product => { %>
        <li class="d-flex flex-column justify-content-center align-items-center">
            <h1><%= product.productId.title %></h1>
            <h2>Quantity : <%= product.quantity %></h2>
            <form action="/card-delete-btn" method="POST">
                <button class="btn btn-primary" type="submit">Card delete</button>
                <input type="hidden" value="<%= product.productId._id %>" name="productID">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
        </li>
        <% }); %>
    </ul>
    <form action="/create-order" method="POST" class="d-flex flex-column justify-content-center align-items-center mt-5">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-danger" type="submit">Order Now</button>
    </form>
    <% } else { %>
    <h1>No products</h1>
    <% } %>
</body>
</html>
