<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/header.ejs') %>
        <main class="main-section">
            <% if(prods.length > 0) { %>
            <div class="d-flex">
                <% for(let product of prods){ %>
                <div class="box">
                    <h1><%= product.title %></h1>
                    <div class="image-box">
                        <img
                            src="/<%= product.imageUrl %>"
                            alt="Books">
                    </div>
                    <div class="price-box"><%= product.price %></div>
                    <div class="description"><%= product.description %></div>
                    <% if(isAuthenticated) {  %>
                        <div class="card-actions">
                            <form action="/card" method="POST">
                                <button type="submit" class="add-card">Add to Card</button>
                                <input type="hidden" value="<%= product._id %>" name="productID">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            </form>
                        </div>
                        <% } %>
                </div>
                <% } %>
            </div>

        <div class="pagination">
            <a href="/?page=1">1</a>
            <a href="/?page=2">2</a>
        </div>
            <% } else { %>
            <h1>Product not found</h1>
            <% } %>
        </main>
    </body>

</html>